name: harewidget
description: "Merge StatefullWidget & State into one widget."
repository: https://github.com/yangentao/harewidget
homepage: https://github.com/yangentao/harewidget
version: 1.0.3

environment:
  sdk: ^3.7.0

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: any